body {
   font-family: "Nunito", sans-serif;
   padding: 20px;
   background-image: url(/img/background.png);
   background-repeat: repeat;
}
.card {
   border-radius: 4px;
   background: #fff;
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
   transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
   padding: 14px;
   cursor: pointer;
   margin-top: 30px;
   min-height: 172.4px;
}
.card:hover {
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.card h3 {
   font-weight: 600;
}
.card img {
   position: absolute;
   top: 20px;
   right: 15px;
   max-height: 120px;
}
.indexer-card {
   background-color: #f8f8f8;
}
@media (max-width: 990px) {
   .card {
      margin: 20px;
   }
}
