name: Docker

on:
   push:
     branches:    
      - master
      - feature/*

jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Build the Docker container image
        run: docker build -f "./src/Blockcore.Indexer/Dockerfile" -t blockcoreindexer:0.0.1 --label "unstable=true" "."

      - name: Login and Push to GitHub Docker Registry
        run: |
          docker login docker.pkg.github.com -u "blockcore-indexer" -p "${{secrets.GITHUB_TOKEN}}"
          docker push docker.pkg.github.com/block-core/blockcore-indexer/blockcoreindexer:0.0.1
